@use '../utils/' as *;

/*
============================
Name:  HOMZ - Real Estate Template
Version: 1.0.0
Description: HOMZ - Real Estate Template
Author: Vikiglab
Author URI: https://themeforest.net/user/vikinglab/portfolio
Location:
============================
*/

/*============= HEDAER CSS AREA ===============*/
/*============= HERO CSS AREA ===============*/
/*============= MOBILE-MENU CSS AREA ===============*/
/*============= ABOUT CSS AREA ===============*/
/*============= SERVICE CSS AREA ===============*/
/*============= WORK CSS AREA ===============*/
/*============= TESTIMONIAL CSS AREA ===============*/
/*============= BLOG CSS AREA ===============*/
/*============= CONTACT CSS AREA ===============*/
/*============= TEAM CSS AREA ===============*/
/*============= FAQ CSS AREA ===============*/
/*============= CTA CSS AREA ===============*/
/*============= OTHERS CSS AREA ===============*/
/*============= LOCATION CSS AREA ===============*/
/*============= PROPERTIES CSS AREA ===============*/
/*============= GALLERY CSS AREA ===============*/
/*============= FEATURES CSS AREA ===============*/
/*============= MISSION CSS AREA ===============*/
/*============= FOOTER CSS AREA ===============*/